ENVIROMENT=""
API_PORT=""
MYSQL_HOST=""
MYSQL_PORT=""
MYSQL_USER=""
MYSQL_PASS=""
MYSQL_DATABASE=""
MONGODB_USER=""
MONGODB_PASS=""
MONGODB_DATABASE=""
TOKEN_HASH=""
BUCKET_NAME=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION=us-east-1